<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NodeAUth | <%= title %></title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <ul>
        <li><a class="active" href="/">Home</a></li>
        <li><a class="active" href="/blog">Blog</a></li>
        <% if (user)  {%>
        <li  style="float: right;"><a href="logout">Logout</a></li>
        <li  style="float: right;"><a href="#">Welcome, <%= user.email %></a></li>
        <% }else {%>
        <li  style="float: right;"><a href="/signup">Sign Up</a></li>
        <li  style="float: right;"><a href="/login">Login</a></li>
        <% } %>
      </ul>
    
      <div class="home">
        
      <% if (user) {%>
        <p>Hello , <%= user.email%> you were successfully logged in !!</p>
      <% } else { %>
        <p>Welcome to Express, Mongo DB and EJS template authentication Application</p>
        <%}%>
    </div>
    
</body>
</html>